.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.navbar-no-shadow {
  margin-bottom: -15px;
  display: flex;
}

.navbar-no-shadow-container {
  z-index: 5;
  background-color: #0000;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Inconsolata, monospace;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-list.shadow-three.mobile-shadow-hide {
  margin-bottom: 0;
}

.nav-dropdown-list.shadow-three.mobile-shadow-hide.w--open {
  font-family: Inconsolata, monospace;
}

.nav-dropdown-link {
  background-color: #fff;
  border-radius: 0;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 0 10px;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  display: flex;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link.w--current {
  color: #000;
  padding-bottom: 5px;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.text-block {
  font-family: Inconsolata, monospace;
  font-size: 20px;
}

.container {
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
}

.heading {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

.heading-2 {
  margin-top: -11px;
  margin-bottom: 5px;
  font-family: Inconsolata, monospace;
  font-weight: 400;
}

.link-block {
  padding-left: 0;
  padding-right: 5px;
}

.link-block-2 {
  padding-right: 5px;
}

.div-block {
  flex-flow: column;
  justify-content: flex-end;
  padding-left: 20px;
  display: flex;
}

.div-block-2 {
  background-color: #000;
  width: auto;
  height: 1px;
  margin-bottom: 10px;
}

.paragraph {
  text-align: left;
  margin-bottom: 0;
  padding-top: 0;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  font-weight: 400;
}

.div-block-3 {
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 20px;
  font-family: Inconsolata, monospace;
  display: flex;
}

.heading-3 {
  color: #333;
  order: 0;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  font-weight: 700;
}

.heading-4 {
  align-self: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-left: 0;
}

.paragraph-2 {
  color: #333;
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 0;
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.div-block-4 {
  background-color: #fff;
  border-radius: 5px;
  flex-flow: column;
  align-items: flex-start;
  max-height: 150px;
  display: flex;
}

.link-block-3 {
  color: #252525;
  cursor: pointer;
  flex-flow: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inconsolata, monospace;
  text-decoration: none;
  display: flex;
}

.paragraph-3 {
  text-decoration: none;
}

.code-embed {
  border: 1px solid #fff;
  width: 100%;
  height: auto;
  min-height: 720px;
}

.container-2 {
  height: 100%;
  min-height: 720px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.image {
  max-width: 100%;
}

.heading-5 {
  font-family: Inconsolata, monospace;
  font-size: 35px;
}

.text-block-2 {
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.container-3 {
  flex-flow: row;
  height: 324px;
  display: block;
}

.slider {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  flex: 1;
  order: 0;
  align-self: auto;
  height: 650px;
  display: block;
}

.mask {
  flex: 0 auto;
}

.div-block-5 {
  flex-flow: row;
  display: flex;
}

.image-2 {
  max-width: 80%;
}

.lightbox-link {
  background-color: #fff;
  border-radius: 3px;
}

.div-block-6 {
  background-color: #fff;
  flex-flow: row;
  justify-content: center;
  display: flex;
}

.slider-2 {
  flex-flow: row;
  height: 498px;
  display: block;
}

.div-block-7 {
  background-color: #fff;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-3 {
  flex: 0 auto;
  display: block;
}

.div-block-8 {
  background-color: #000;
  height: 1px;
  margin-top: 0;
}

.div-block-9 {
  justify-content: center;
  display: flex;
}

.heading-6 {
  margin-top: 10px;
  font-family: Inconsolata, monospace;
  font-weight: 400;
}

.left-arrow {
  background-color: #fff0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mask-2 {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  background-color: #741a1a;
}

.right-arrow {
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph-4 {
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.div-block-10 {
  background-color: #000;
  height: 1px;
}

.body {
  margin-bottom: 0;
}

.container-4 {
  margin-top: -10px;
}

.image-4 {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: block;
  overflow: visible;
}

.div-block-11 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  max-width: none;
  max-height: none;
  margin-right: 0;
  padding-right: 5px;
  display: flex;
}

.image-5 {
  border-radius: 5px;
}

.div-block-12 {
  align-items: center;
  margin-bottom: 0;
  margin-left: 5px;
  padding-top: 5px;
  display: flex;
}

.div-block-13 {
  width: 120px;
  margin-right: 0;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 5px;
}

.div-block-14 {
  margin-left: 5px;
  display: flex;
}

.div-block-15 {
  align-items: center;
  margin-bottom: 5px;
  margin-left: 5px;
  display: flex;
}

.div-block-16 {
  align-items: center;
  margin-left: 5px;
  display: flex;
}

.div-block-17 {
  padding-right: 5px;
}

.image-6 {
  border-radius: 5px;
  margin-left: 0;
  margin-right: 0;
}

.div-block-18 {
  margin-left: 0;
  padding-left: 5px;
}

.div-block-19 {
  width: 300px;
  margin-bottom: 0;
}

.paragraph-5 {
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.div-block-20 {
  flex-flow: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

.heading-7 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 15px;
  font-family: Inconsolata, monospace;
  display: block;
}

.container-5 {
  flex-flow: column;
  align-items: center;
  padding-top: 10px;
  display: flex;
}

.container-6 {
  padding-top: 5px;
}

.container-7 {
  padding-top: 10px;
}

.paragraph-6 {
  margin-bottom: 0;
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.div-block-21 {
  align-items: flex-end;
  display: flex;
}

.collection-list-wrapper {
  align-items: center;
  display: block;
}

.div-block-22 {
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  font-family: Inconsolata, monospace;
  display: flex;
}

.link-block-4 {
  color: #000;
  border-radius: 0;
  text-decoration: none;
}

.div-block-23 {
  margin-top: 10px;
}

.link-block-5 {
  align-items: flex-end;
  text-decoration: none;
  display: flex;
}

.div-block-24 {
  align-items: center;
  display: flex;
}

.container-8 {
  padding-top: 10px;
}

@media screen and (max-width: 991px) {
  .navbar-wrapper {
    justify-content: flex-start;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .paragraph-2 {
    padding-left: 5px;
  }

  .paragraph-4 {
    text-align: left;
  }

  .image-4 {
    border-radius: 0;
  }

  .div-block-11 {
    border-radius: 5px;
    width: 180px;
  }

  .div-block-13 {
    width: 179px;
  }

  .div-block-15 {
    align-items: center;
  }

  .div-block-19 {
    width: 400px;
  }

  .body-2 {
    border-radius: 5px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .container {
    flex-flow: column;
    align-items: center;
    margin-top: 0;
    display: flex;
  }

  .heading, .heading-2 {
    text-align: center;
  }

  .div-block {
    align-items: center;
  }

  .div-block-4 {
    align-items: center;
    max-height: none;
  }

  .div-block-11 {
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .div-block-12 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .div-block-13 {
    justify-content: center;
    width: 400px;
    display: flex;
  }

  .div-block-15 {
    flex-flow: column;
  }

  .div-block-16 {
    flex-flow: column;
    max-height: 100vh;
  }

  .div-block-19 {
    justify-content: center;
    width: 500px;
    display: flex;
    overflow: visible;
  }

  .link-block-5, .container-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .div-block {
    padding-left: 0;
  }

  .div-block-3 {
    text-align: center;
    padding-right: 0;
  }

  .heading-4 {
    text-align: center;
  }

  .link-block-3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .slider-2 {
    height: 360px;
  }

  .paragraph-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-13 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .div-block-15 {
    width: 100%;
  }

  .div-block-19 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .link-block-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-24 {
    padding-left: 10px;
  }

  .slide, .slide-2, .slide-3, .slide-4, .slide-5 {
    background-color: #fff;
  }
}
